body {
  width: 100%;
  height: 100%;
  margin: 0;
  overflow-x: hidden;
  overflow-y: visible;
}
.headbar {
  display: flex;
  width: 100%;
  height: 230px;
  font-family: 黑体;
  font-size: 120%;
  color: rgb(240, 248, 255);
  background-color: #0c1c2cf3;
  justify-content: center;
  align-items: center;
}

.media-area {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  height: 100%;
  margin: 40px 10%;
  padding-bottom: 40px;
  justify-content: flex-start;
}
.media-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 240px;
  height: 213px;
  border-radius: 5%;
  background-color: rgb(255, 255, 255);
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.15);
  margin: 25px;
  overflow: hidden;
  transition: all 0.3s ease;
}
.media-card:hover {
  transform: translateY(-10px);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.15);
  cursor: pointer;
}
.media-card:hover img {
  transform: scale(1.08);
}
.media-card:hover .play-icon {
  display: flex;
}
.img-container {
  display: flex;
  width: 100%;
  height: 136px;
}
img {
  object-fit: cover;
  width: 100%;
  height: auto;
  transition: all 0.3s ease;
}
.play-icon {
  display: none;
  justify-content: center;
  align-items: center;
  position: absolute;
  background-color: rgba(54, 54, 54, 0.733);
  width: 40px;
  height: 40px;
  font-size: 30px;
  color: rgb(255, 255, 255);
  margin-top: 95px;
  margin-left: 193px;
}

.media-info {
  display: flex;
  width: 240px;
  height: 70px;
  margin: 10px;
  justify-content: flex-start;
  align-items: center;
}
p {
  font-family: PingFang SC, Helvetica Neue, Microsoft YaHei, sans-serif;
  font-size: 14px;
  margin-top: 4px;
  margin-left: 15px;
  margin-right: 14px;
  line-height: 22px;
}
.video-player {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.637);
  backdrop-filter: blur(10px);
}
.video {
  width: 70%;
  height: 70%;
}
.close-btn {
  position: absolute;
  font-size: xx-large;
  color: rgba(255, 255, 255, 0.781);
  background-color: transparent;
  border: none;
  left: 90%;
  top: 10%;
  cursor: pointer;
}
@media (max-width: 600px) {
  .headbar {
    display: flex;
    width: 100%;
    height: 230px;
    font-family: 黑体;
    font-size: 120%;
    color: rgb(240, 248, 255);
    background-color: #152636;
    justify-content: center;
    align-items: center;
  }
  .media-area {
    margin-left: 3%;
    justify-content: flex-start;
    align-content: flex-start;
    overflow: visible;
    height: fit-content;
    padding-bottom: 200px;
  }
  .media-card {
    margin: 10px;
    width: 153px;
    height: 160px;
  }
  .media-info {
    width: 153px;
    height: 65px;
    margin: 0px;
  }
  p {
    font-size: 9.4px;
    margin: 9px;

    line-height: 20px;
  }
  .img-container {
    height: 99px;
  }
  img {
    object-fit: cover;
    width: 100%;
    height: 99px;
  }
  .video {
    width: 100%;
    height: 33%;
  }
  .close-btn {
    position: absolute;
    font-size: xx-large;
    color: rgba(255, 255, 255, 0.781);
    background-color: transparent;
    border: none;
    left: 80%;
    top: 20%;
    cursor: pointer;
  }
}
