body {
  margin: 0px;
  width: 100%;
  height: 100%;
  background-color: #d0dfee;
  overflow: hidden;
}
/* 主体部分 */
.main-area {
  display: flex;
  height: 100%;
  width: 100%;
}
.mobile-headbar {
  display: none;
}
/* 侧边栏 */
.side-bar {
  width: 150px;
  height: 100vh;
  background-color: #112131;
  flex-shrink: 0;
}
ul {
  color: #e6e6e6;
  font-family: 黑体;
}
.home {
  font-size: large;
  font-weight: bold;
  font-family: arial;
  background: none;
  padding: 25px;
  border: none;
  color: white;
  width: fit-content;
}
.home:hover {
  color: #a8bbce;

  cursor: pointer;
}
.category {
  padding-left: 0;
}
.category li {
  position: relative;
  padding: 7px;
  padding-left: 40px;
  font-size: 15px;
}
.category li:hover {
  background-color: #2f3f4f;
  font-weight: bold;
  color: #ffffff;
  cursor: pointer;
}
.category li::before {
  content: "";
  display: none;
  background-color: #e6e6e6;
  width: 4px;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0%;
}
.category li:hover::before {
  display: inline-block;
}
.selected {
  background-color: #2f3f4f;
  font-weight: bold;
  color: #ffffff;
  cursor: pointer;
}
.selected::before {
  content: "";
  display: inline-block !important;
  background-color: #e6e6e6;
  width: 4px;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0%;
}
/*内容区*/
.works {
  font-family: arial;
  font-size: 23px;
  font-weight: bold;
  color: #293744;
  margin-left: 120px;
  width: fit-content;
  margin-top: 50px;
  padding-bottom: 10px;
  border-bottom: solid 3px #293744;
}
.content-area {
  flex: 1;
  height: 100%;
  background-color: #d0dfee;
}
@keyframes fade-in {
  from {
    transform: translateY(-100px);
    opacity: 0;
  }
  to {
    transform: translateY(0px);
    opacity: 1;
  }
}
.all-panels {
  display: flex;
  width: 100%;
  height: 100%;
  margin-left: 20px;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  align-content: flex-start;
  animation: fade-in 1s; /* 应用动画 */
}
.content-panel {
  width: 230px;
  height: 170px;
  margin-right: 80px;
  margin-top: 60px;
  border-radius: 4%;
  background-color: #d7e4f1;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0px 2px 6px #00000723;
  box-sizing: border-box;
  transform: scale(1), translateY(0px);
  transition: all 0.2s ease;
}
.content {
  display: flex;
  flex-direction: column;
  height: fit-content;
  width: fit-content;
  color: #324252e0;
  font-family: 黑体;
  font-weight: bold;
  font-size: 17px;
  transform: translateY(20px);
}
.content-panel:hover {
  background-color: #152535;
  cursor: pointer;
  border: solid 3px#ffffff;
  transform: scale(1.06) translateY(-8px);
}
.content-panel:hover .content {
  color: rgba(255, 255, 255, 0.884);
}
.content-panel:active {
  background-color: #516375;
}
.content-panel:active .content {
  color: #364656;
}
.icons {
  font-size: 45px;
}

/* 移动端适配 */
@media (max-width: 600px) {
  /* 侧边栏 */
  .side-bar {
    position: fixed;
    z-index: 1;
    top: 80px;
    width: 100%;
    height: 45px;
    background-color: #4f677e;
    overflow: hidden;
    transform: translateY(-100px);
    transition: transform 0.3s ease;
  }
  .mobile-show {
    transform: translateY(0);
  }

  .home {
    display: none;
  }
  ul {
    margin: 0;
    padding: 0;
  }
  .category {
    display: flex;
    width: 100vw;
    justify-content: center;
    align-items: center;
    color: #e6e6e6;
    font-family: 黑体;
    height: 45px;
  }
  .category li {
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: center;
    height: 100%;
    margin: 0px;
    padding: 0px;
    font-size: 14px;
    list-style: none;
  }
  .category li::before {
    content: "";
    display: none;
    background-color: #e6e6e6;
    width: 100%;
    height: 5px;
    position: absolute;
    left: 0%;
    top: 90%;
  }
  .category li:hover::before {
    display: none;
  }
  .selected {
    background-color: #2f3f4f;
    color: #ffffff;
    cursor: pointer;
  }
  .selected::before {
    content: "";
    display: inline-block !important;
    background-color: #e6e6e6;
    width: 100%;
    height: 5px;
    position: absolute;
    left: 0;
    top: 90%;
  }

  /* 其他 */
  .content-panel {
    width: 120px;
    height: 120px;
    margin-right: 30px;
    margin-top: 30px;
    background-color: #d7e4f1;
    box-shadow: 0px 2px 6px #00000723;
  }
  .content {
    color: #465666;
    font-family: 黑体;
    font-weight: bold;
    font-size: 17px;
  }
  .icons {
    font-size: 30px;
  }
  .works {
    margin-left: 40%;
    margin-top: 20%;
  }
  .mobile-headbar {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    z-index: 2;
    content: "";
    width: 100%;
    height: 80px;
    background-color: #0f1f30;
  }
  .headbar-text {
    width: fit-content;
    height: 25px;
    font-size: 25px;
    font-family: 黑体;
    color: white;
    cursor: pointer;
  }
  .content-area {
    margin-top: 79px;
  }
}
