body {
  display: flex;
  width: 100%;
  height: 100%;
  margin: 0px;
  flex-direction: column;
  overflow-x: hidden;
  overflow-y: auto;
}
.headbar {
  display: flex;
  width: 100%;
  height: 230px;
  font-family: 黑体;
  font-size: 120%;
  color: rgb(240, 248, 255);
  background-color: #0c1c2cf3;
  justify-content: center;
  align-items: center;
}
.gallery {
  display: flex;
  gap: 17px;
  width: 90vw;
  height: fit-content;
  margin-top: 40px;
  padding-left: 50px;
  padding-top: 30px;
  padding-bottom: 10px;
  margin-bottom: 50px;
}
.gallery-column {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 17px;
}
.title {
  font-family: arial;
  font-size: 30px;
  font-weight: bold;
  color: #293744;
  width: 90%;
  margin-top: 50px;
  margin-left: 45px;
}
.title:after {
  position: absolute;
  content: "";
  height: 4px;
  width: 92%;
  background-color: #293744;
  left: 50px;
  top: 115px;
}
.img-containers {
  display: flex;
  width: 100%;
  height: fit-content;
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.3);
  background-color: transparent;
  overflow: hidden;
  /* 随机高度效果 */
  min-height: 150px;
  max-height: 600px;
}

.el-image {
  width: 100%;
  height: 100%;
  transition: transform 0.3s ease;
}
.el-image:hover {
  transform: scale(1.15);
}
@media (max-width: 600px) {
  body {
    height: 100vh;
  }
  .gallery {
    padding-left: 20px;
    height: 100%;
  }
}
